<div class="menu">
	<div class="heading">
		<h1>Edit Store</h1>
	</div>
	<div class="container">
		<div class="card card-body">
			<form action="" method="post">
				<div class="row mb-3">
					<div class="col-lg-9">
						<div class="form-group">
							{{!-- Practical 5 Exercise 2: Add a title input text here named 'title'--}}
							<label class="font-italic" for="name">Name</label>
							<input class="form-control mb-1" id="name" name="name" value="{{store.name}}"
								onblur="initialiseTitle()" />
						</div>
						<div class="form-group">
							<label class="font-italic" for="category">Category</label>
							<br>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="language" id="langChinese"
									value="Chinese"
									onclick="ensureOneCheck('language', 'languageErr', 'btnSubmit')">
								<label class="form-check-label" for="chinese">Western</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="language" id="langEnglish"
									value="English"
									onclick="ensureOneCheck('language', 'languageErr', 'btnSubmit')">
								<label class="form-check-label" for="englishLang">Noodles</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="language" id="langMalay"
									value="Malay"
									onclick="ensureOneCheck('language', 'languageErr', 'btnSubmit')">
								<label class="form-check-label" for="malay">Chinese</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="language" id="langTamil"
									value="Tamil"
									onclick="ensureOneCheck('language', 'languageErr', 'btnSubmit')">
								<label class="form-check-label" for="tamil">Indian</label>
							</div>
							<p class="text-danger m-0" id="languageErr" style="display:none">Please select one category
							</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="custom-file mb-2">
							<input type="file" class="custom-file-input" id="posterUpload" name="posterUpload"
								accept="image/png,image/jpeg,image/jpg,image/gif">
							<label class="custom-file-label" for="customFile">Choose File</label>
						</div>
						<div class="text-danger small mb-2" id="posterErr" style="display:none"></div>
						<img id="poster" src="{{store.posterURL}}" alt="Poster" class="border img-thumbnail img-fluid"
							onerror="this.src='/img/no-image.jpg'">
						{{!—- Hidden field to submit URL of poster to the server --}}
						<input id="posterURL" type="hidden" name="posterURL" value="{{store.posterURL}}">
					</div>
				</div>
				<br>
				<button id="btnSubmit" type="submit" class="btn btn-primary">Save
				</button>
			</form>
		</div>
	</div>
</div>