<div class="content">
	<h3>Order today at SouthCanteen!</h3>
	<p>Some paragraph or something that contains words that looks like a paragraph and maybe is a paragraph and is a block of text that is a paragraph theres alot of paragraph omgah</p>
	<a href="#" class="btn">Order now!</a>
</div>