<!-- Jumbotron -->
<div class="p-5 text-left bg-image" style="
    background-image: url('/img/katsubanner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    height: 600px;
	width:auto;
  ">
	<div class="d-flex align-items-left align-items-center h-100">
		<div class="text-white">
			<h1 class="mb-3"><mark>Order NOW!</mark></h1>
			<p></p>
			<h4 class="mb-3">Food from the stalls you love.</h4>
			<a class="btn btn-outline-light btn-lg" href="/user/listStores2" role="button">Get Started</a>
		</div>
	</div>
</div>

{{#if promotions}}

<body>
	<section>
		<div class="container-fluid my-5">
			<h1 class="text-center fw-bold display-4 mb-3">Ongoing Promotions</h1>
			<hr>
			<div class="row mt-5">
				<div class="owl-carousel owl-theme">
					{{#each promotions}}
					<div class="item mb-4">
						<div class="card border-0 shadow" style="height: 120px; width: 280px;">
							<a href="/promotion/details/{{storeid}}"><img src="{{posterURL}}" alt="poster"
									class="card-img-top" style="height: 120px; width: 280px;"></a>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</section>
	<script>
		$('.owl-carousel').owlCarousel({
			loop: true,
			margin: 10,
			nav: true,
			responsive: {
				0: {
					items: 1
				},
				600: {
					items: 2
				},
				1000: {
					items: 4
				}
			}
		})
	</script>

</body>
{{else}}
{{/if}}
<!-- Jumbotron -->