<p></p>
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/logo-white.png">
			<h3 class="text-center">Account Login</h3>
			<a href="/" class="link-primary" style="text-decoration: underline;">Go back</a>
			<hr>
			<form method="post" action="">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
			</form>
			<p></p>
			<div style="display:flex; justify-content: space-between;">
				<a href="/forgotPw" class="link-primary">Forgot Password?</a>
				<a href="/register" class="link-primary">Register Now!</a>
			</div>
		</div>
	</div>
</div>