<p></p>
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/logo-white.png">
			<h3 class="text-center">Reset your password</h3>
			<hr>
			<p class="text-center">Enter your email and we'll send a link to reset your password.</p>
			<form method="post" action="">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Send Email</button>
			</form>
			<p></p>
			<div style="display:flex; justify-content: space-between;">
				<a href="/login" class="link-primary">Login Now!</a>
				<a href="/register" class="link-primary">Haven't registered? Register now!</a>
			</div>
		</div>
	</div>
</div>