*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Sidebar Menu CSS*/

/* body{
  position: relative;
  min-height: 100vh;
  width: 100%;
} */

.sidebar{
  position: fixed;

  height: 100%;
  width: 240px;
  background: #1d1b31;
  padding: 6px 14px;
}

.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.sidebar #btn{
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar ul{
  margin-top: 20px;
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  list-style: none;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}

.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

/* Food Management CSS */
.menu{
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, lfr));
}

.heading{
  background-color: #1d1b31;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 20px 0;
  grid-column: 1/-1;
  text-align: center;
}

.heading h1{
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.heading h3{
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}

.card{
  margin-right: 30px;
}

/* User Top Navbar */

.menu-bar {
  background-color: #1d1b31;
}

.menu-bar .nav-link {
  font-size: 16px;
  margin: 4px;
  color: #fff!important;
}

.menu-bar .navbar-nav {
  text-align: right;
  margin-right: 20px;
}

.menu-bar .navbar-toggler {
  padding-right: 20px;
  outline: none!important;
  border: none!important;
}

.menu-bar .navbar .bx {
  color: #fff!important;
  font-size: 26px;
}

.menu-bar .nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.menu-bar .navbar-brand img {
  width: 200px;
  margin-top: 5px;
  margin-left: 20px;
}

.menu-bar .dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1d1b31;
}

@media only screen and (max-width: 1000px) {
  .nav-link:hover {
    border-bottom: none!important;
  }
}

/* End of Menu Bar */

/* Start of Sidebar */


/* nav{
  background: #11101d;
  height: 80px;
  width: 100%;
} */

/* label.logo2{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
} */

/* nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a.active{
  background: #2f2c33;
  transition: .5s;
  text-decoration: none;
  color: white;
} */

/* nav ul li a:hover{
  background: #2f2c33;
  transition: .5s;
  text-decoration: none;
  color: white;
} */

/* Dishes Section */
/* .sub-heading{
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading2{
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.dishes .container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.dishes .container .box{
  padding: 2.5rem;
  background-color: #fff;
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #11101d;
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}

.btn:hover{
  background-color: #2f2c33;
}

.main{
  width: 1170px;
  margin: 100px auto;
}

.section-title{
  text-align: center;
  margin-bottom: 80px;
}

.section-title h2{
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom:20px;
  margin-bottom: 10px;
}

.section-title h2:before{
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #00875c;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menus{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-column{
  width: 31%;
}

.menu-column h4{
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.menu-column h4:before{
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #00875c;
  bottom: 0;
}

.single-menu{
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.single-menu img{
  border-radius: 50%;
  max-width: 110px;
  border: 1px dashed #ddd;
  padding: 3px;
  margin-right: 15px; 
}

.single-menu .menu-content h5{
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px fashed #222;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.single-menu .menu-content h5 span{
  color: tomato;
  float: right;
  font-weight: 600;
  font-style: italic;
} */


/* Product CSS */
.products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* Categories */
/* .products aside .categories {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 4px 2px 8px rgba(0,0,0,.05);
}
.products aside .categories .category {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #808080;
  justify-content: space-between;
  padding: 10px 8px;
  border-bottom: 2px solid #F5F5F5;
}
.products aside .categories .category:hover {
  background-color: #f5f5f5;
}
.products aside .categories .category .label {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.products aside .categories .category .label .category-name {
  margin-left: 15px;
} */
/* Promo Code */
/* .products aside .promo-code {
  position: relative;
  margin-top: 1em;
  border-radius: 4px;
  background-color: #fff;
  height: 260px;
  box-shadow: 4px 2px 8px rgba(0,0,0,.05);
}
.products aside .promo-code .texts {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.products aside .promo-code .texts .title {
  margin-bottom: 2em;
  color: #666666;
}
.products aside .promo-code .texts .desc {
  color: #d1d1d1;
} */
/* Nav Products */
/* .products main nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 4px 2px 8px rgba(0,0,0,.05);
} */
/* .products main nav .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-left: 25px;
} */
/* .products main nav .filters .filter a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 600;
} */
/* .products main nav .filters .filter-selected a {
  color: #1875f0;
  border-bottom: 3px solid #1875f0;
  padding-bottom: 15px;
} */
/* .products main nav .display {
  display: flex;
  align-items: center;
} */
/* .products main nav .display a {
  margin-left: 8px;
  margin-right: 8px;
} */
/* Products */
.products main .products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products main .products-list .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 32%;
  margin-top: 2em;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 4px 2px 100px rgba(0,0,0,.05);
}
.products main .products-list .product .labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.products main .products-list .product .labels .promotion {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #b3b3b3;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-left: 20px;
  padding: .7em 1.2em;
  font-weight: 700;
}
.products main .products-list .product .labels .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}
.products main .products-list .product .labels .actions .add-list {
  margin-right: 20px;
}
.products main .products-list .product .labels .actions img {
  width: 19px;
  height: 18px;
}
.products main .products-list .product .product-img {
  width: 157px;
  height: 160px;
}
.products main .products-list .product .name {
  width: 75%;
  text-align: center;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  /* letter-spacing: .4px; */
  line-height: 20px;
  margin-bottom: 1.2em;
  margin-top: 1.5em;
}
.products main .products-list .product .price {
  display: flex;
  align-items: center;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}
.products main .products-list .product .price .price-value {
  color: #666666;
  font-weight: 900;
}
.products main .products-list .product .price img {
  width: 18px;
  height: 18px;
  margin-bottom: 15px;
  margin-left: 20px;
}

/*promotion*/
.promotion{
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, lfr));
}