<div class="row justify-content-center">
	<div class="mx-auto justify-content-center">
		<div class="card card-body">
			<img class="logo" src="/img/SClogo.png" style = "max-width: 450px; max-height: 450px;">
			<b>Hello World!</b>
		</div>
	</div>
</div>