<div class="container">
	<div class="card card-body">
		<h3>Add Promotions</h3>
		<form action="" method="post">
			<div class="row mb-3">
				<div class="col-lg-9">
					<div class="form-group">
						<label class="font-italic" for="name">Name</label>
						<input type="text" class="form-control" id="name" name="name" onblur="initialiseTitle()">
					</div>
					<div class="form-group mb-4">
						<label class="font-italic" for="discount">Discount</label>
						<input type="number" class="form-control" id="discount" name="discount" min="1">
					</div>
					{{#if stores}}
					<div class="form-group">
						<label class="font-italic" for="storeid">Stores:</label>
						<br>
						<select name="storeid" id="storeid">
							{{#each stores}}
							<option value="{{id}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
					{{/if}}
					{{#if menus}}
					<div class="form-group">
						<label class="font-italic" for="menuid">Food:</label>
						<br>
						<select name="menuid" id="menuid">
							{{#each menus}}
							<option value="{{id}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
					{{/if}}
				</div>
				<div class="col-lg-3">
					<div class="custom-file mb-2">
						<input type="file" class="custom-file-input" id="posterUpload" name="posterUpload"
							accept="image/png,image/jpeg,image/jpg,image/gif">
						<label class="custom-file-label" for="customFile">Choose File</label>
					</div>
					<div class="text-danger small mb-2" id="posterErr" style="display:none"></div>
					<img id="poster" src="/img/no-image.jpg" alt="Poster" class="border img-thumbnail img-fluid">
					{{!—- Hidden field to submit URL of poster to the server --}}
					<input id="posterURL" type="hidden" name="posterURL">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
						<label class="font-italic">Date of release</label>
						<input id="datepicker" width="200" name="dateRelease" readonly />
					</div>
				</div>
			</div>
			<br>
			<button id="btnSubmit" type="submit" class="btn btn-primary">Save
			</button>
		</form>
	</div>
</div>

<script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
		value: moment().format('DD/MM/YYYY'),
	});
</script>