<h1>Promotional Email</h1>
<div class="container">
    <form action="" method="post">
        <div class="row mb-3">
            <div class="col-lg-9">
                {{#if users}}
                <div class="form-group">
                    <label class="font-italic" for="email">Email:</label>
                    <br>
                    <select name="email" id="email">
                        {{#each users}}
                        <option value="{{email}}">{{email}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/if}}
            </div>
            <div class="col-lg-9">
                {{#if promotions}}
                <div class="form-group">
                    <label class="font-italic" for="name">Promotion:</label>
                    <br>
                    <select name="name" id="name">
                        {{#each promotions}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/if}}
            </div>
        </div>
        <br>
        <button id="btnSubmit" type="submit" class="btn btn-primary">Send
        </button>
    </form>
</div>