<h1>Promotional Email</h1>
<div class="container">
    <form action="" method="post">
        <div class="row mb-3">
            <div class="col-lg-9">
                {{!-- {{#if promotions}}
                <div>
                    <form action="/action_page.php">
                        <label for="useremail">Choose a car:</label>
                        <select name="useremail" id="useremail">
                        {{#each promotions}}
                            <option value="useremail">{{id}}</option>
                        {{/each}}
                        </select>
                        <br><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                {{/if}} --}}
            </div>
        </div>
        <br>
        <button id="btnSubmit" type="submit" class="btn btn-primary">Save
        </button>
    </form>
</div>