{{#if promotions}}

<body>
    <title>Promotions</title>
    <section>
        <div class="container-fluid my-5">
            <h1 class="text-center fw-bold display-1 mb-3">Promotions</h1>
            <div class="row mt-5">
                <div class="owl-carousel owl-theme">
                    {{#each promotions}}
                    <div class="item mb-4">
                        <div class="card border-0 shadow">
                            <img src="{{posterURL}}" alt="poster" class="card-img-top">
                            <div class="card-body">
                                <h4 class="text-center">{{name}}</h4>
                                <h5 class="text-center">{{description}}</h5>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>

</body>
{{else}}
<h2>No Promotion</h2>
{{/if}}